// --------------------------------------
// *** COLORS ***
// --------------------------------------
$color-black: #000;
$color-black-dark: #222;
$color-strong-dark: #111;
$color-black-todo: #0f0e0e;

$color-white: #fff;
$color-light: #f1f1f1;

$color-green-primary: #8dcd8d;
$color-green-secondary: #3a5a25;

$color-green-cactus-primary: #476930;
$color-green-cactus-secondary: #314f1f;
$color-green-cactus-tertiary: #406229;
$color-green-cactus-quaternary: #2e491d;

$color-edit-primary: #fbbf24;

$color-danger: #d9534f;

$color-blue-primary: steelblue;

$color-brown-primary: #64391a;
$color-brown-secondary: #895129;
$color-brown-tertiary: #522c11;

$color-gray-medium: #ccc;

// *** Font Familly ***
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Cal Sans', sans-serif;
