@use '../abstract' as *;

// *** Shelf ***
.shelf {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  perspective: 60rem;
  transform-style: preserve-3d;

  background-color: $color-brown-secondary;

  @include dimension-settings(95%, 3.5rem);

  &::after {
    content: '';
    position: absolute;
    bottom: 3.4rem;
    left: 0;
    transform: rotateX(20deg);
    transform-origin: bottom;

    background-color: $color-brown-secondary;

    @include dimension-settings(100%, 10rem);
  }
}
// *** End of Shelf ***

// *** Cactus ***
.cactus {
  position: relative;
  z-index: 50;

  @include dimension-settings(100%, 15rem, null, 18rem);

  @media (max-width: 900px) {
    display: none;
  }

  // *** Pot ***
  &__pot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-image: linear-gradient(
      $color-brown-primary,
      $color-brown-tertiary
    );

    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);

    border-radius: 1rem 1rem 0 0;

    @include dimension-settings(100%, 7rem, null, 14rem);

    &::before {
      content: 'CSS ART';

      opacity: 0.2;

      @include dimension-settings(100%, 100%);
      @include flex-settings;
      @include font-settings(1.7rem, 900);
    }
  }
  // *** End of Pot ***

  // *** Cactus Big & Small ***
  &__big,
  &__small {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    background-image: linear-gradient(
      $color-green-cactus-primary,
      $color-green-cactus-tertiary
    );

    border-radius: 50%;
    border: 0.4rem solid $color-green-cactus-secondary;

    // *** Spines ***
    &-spines {
      position: absolute;
      z-index: 10;

      top: 0;
      left: -1rem;
      transform: rotate(-30deg);

      background-image: linear-gradient(
        $color-green-secondary,
        $color-green-cactus-quaternary
      );

      clip-path: polygon(50% 0%, 40% 100%, 60% 100%);

      @include dimension-settings(3rem, 3rem);

      &:nth-child(2) {
        top: 3rem;
        left: -1.5rem;
      }
      &:nth-child(3) {
        top: 0;
        left: 4rem;
        transform: rotate(30deg);
      }
    }
    // *** End of Spines ***
  }
  // *** End of Cactus Big & Small ***

  // *** Cactus Big ***
  &__big {
    left: 38%;
    transform: translateX(-50%) rotate(-7deg);

    @include dimension-settings(7rem, 10rem);

    &::before {
      content: '';
      position: absolute;
      top: -2%;
      left: 50%;
      transform: translate(-50%, -2%);

      background-color: transparent;

      border-radius: 50%;
      border: 0.4rem solid $color-green-cactus-secondary;

      @include dimension-settings(50%, 110%);
    }
  }
  // *** End of Cactus Big ***
  &__small {
    top: 20%;
    left: 60%;

    @include dimension-settings(6rem, 8rem);

    &::before {
      content: '';
      position: absolute;
      top: -2%;
      left: 50%;
      transform: translate(-50%, -2%);

      background-color: transparent;

      border-radius: 50%;
      border: 0.4rem solid $color-green-cactus-secondary;

      @include dimension-settings(50%, 110%);
    }

    // *** Spines ***
    &-spines {
      &:nth-child(1) {
        top: 1.2rem;
        left: -1.9rem;
        transform: rotate(-40deg);
      }

      &:nth-child(2) {
        top: -2rem;
        left: 1.5rem;
        transform: rotate(8deg);
      }
      &:nth-child(3) {
        top: 0;
        left: 4rem;
        transform: rotate(30deg);
      }
    }
    // *** End of Spines ***
  }
  // *** Cactus Small ***
  // *** End of Cactus Small ***
}
// *** End of Cactus ***
